src/main/resources/flight-search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://flightproviderb.service.com"
           xmlns:tns="http://flightproviderb.service.com"
           elementFormDefault="qualified">

    <!-- Flight Type -->
    <xs:complexType name="Flight">
        <xs:sequence>
            <xs:element name="flightNumber" type="xs:string"/>
            <xs:element name="departure" type="xs:string"/>
            <xs:element name="arrival" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- SearchRequest Type -->
    <xs:complexType name="SearchRequest">
        <xs:sequence>
            <xs:element name="departure" type="xs:string"/>
            <xs:element name="arrival" type="xs:string"/>
            <xs:element name="departureDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <!-- SearchResult Type -->
    <xs:complexType name="SearchResult">
        <xs:sequence>
            <xs:element name="hasError" type="xs:boolean"/>
            <xs:element name="flightOptions" type="tns:Flight" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Service Operations -->
    <xs:element name="AvailabilitySearchRequest" type="tns:SearchRequest"/>
    <xs:element name="AvailabilitySearchResponse" type="tns:SearchResult"/>

</xs:schema>